main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.question-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 20px;
  gap: 20px;
  max-width: 90%;
  margin: 20px 0;
  position: relative;
  background-color: cadetblue;
}

.question-card h2 {
  display: flex;
  align-self: flex-start;
}

.question-tags {
  display: flex;
  list-style: none;
  order: 4;
  align-self: flex-start;
}

.question-tags li {
  margin: 0 20px 0 0;
  background-color: white;
  border-radius: 6%;
  font-size: 15px;
  padding: 5px;
}

.bookmark-card {
  font-size: 40px;
  color: lightgray;
  position: absolute;
  top: -20px;
  right: 15px;
}

.bookmark-card i.active {
  color: #365557;
}
