footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.footer-navigation {
  display: flex;
  justify-content: center;
  width: 100%;
}

.footer-navigation li {
  list-style: none;
  flex-grow: 1;
  text-align: center;
}
